services:
  # NestJS Backend
  - type: web
    name: nyahngunyah-be
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_VERSION
        value: 18.0.0
      - key: DATABASE_HOST
        fromDatabase:
          name: nyahngunyah-db
          property: host
      - key: DATABASE_PORT
        fromDatabase:
          name: nyahngunyah-db
          property: port
      - key: DATABASE_USER
        fromDatabase:
          name: nyahngunyah-db
          property: user
      - key: DATABASE_PASS
        fromDatabase:
          name: nyahngunyah-db
          property: password
      - key: DATABASE_NAME
        fromDatabase:
          name: nyahngunyah-db
          property: database
      - key: DATABASE_SYNC
        value: "1"

databases:
  - name: nyahngunyah-db
    plan: free
